* {
  margin: 0; }

html {
  background: #1d364d;
  color: white; }

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: white; }

.custom-nav-wrapper {
  background: transparent;
  float: right;
  padding-right: 5%;
  margin-top: 20px; }

.users-head-details {
  background: #372118; }

.welcome-message {
  margin-top: 20px;
  margin-left: 20px; }

.welcome-message-container {
  font-size: 30px;
  padding-top: 20%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 100vh; }

.welcome-message-container h2 {
  font-weight: bold; }

/* General Styling*/
.red {
  color: red; }

.custom-logo-wrap {
  margin-left: 2%;
  font-weight: bold; }

.welcome-container-button {
  padding: 5px;
  border-radius: 2px;
  background-color: #FF9800;
  border: 1px solid #FF9800;
  font-size: 17px;
  font-weight: normal;
  color: white !important;
  display: inline-block; }

.welcome-container-button:focus {
  background-color: #FF9800; }

.welcome-container-button {
  float: left;
  min-width: 100px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: rgba(255, 152, 0, 0.6); }

.welcome-container-button:last-child,
.welcome-container-button:last-child:focus {
  float: left;
  margin-left: 5%;
  overflow: hidden;
  line-height: 10px;
  min-width: 200px;
  background-color: rgba(255, 152, 0, 0.6);
  border-color: rgba(255, 152, 0, 0.6); }

.welcome-container-button a {
  color: white !important; }

.welcome-container-div-button {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding-top: 20px;
  overflow: hidden; }

.welcome-container-button img {
  float: left; }

.welcome-container-button p {
  float: left;
  margin-top: 5%;
  margin-right: 2%;
  margin-left: 10%;
  color: white !important; }

.div-container-form {
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 100vh; }

.book-form {
  background-color: rgba(0, 0, 0, 0.5) !important; }

.div-container-form form {
  position: absolute;
  top: 60%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  background: rgba(47, 47, 45, 0.7);
  width: 40% !important;
  padding: 5% 2% 5% 2%;
  border-radius: 10px; }

.div-container-form label {
  color: white;
  font-size: 120%;
  font-weight: bold; }

.login-button,
.login-button:focus {
  width: 30%;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  background: rgba(255, 152, 0, 0.7);
  border: 1px solid rgba(255, 152, 0, 0.9);
  border-radius: 4px; }

.div-container-signup-form {
  background-color: rgba(0, 0, 0, 0.5) !important;
  height: 100vh; }

.div-container-signup-form form {
  position: absolute;
  margin-top: 10%;
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  background: rgba(47, 47, 45, 0.7);
  width: 40% !important;
  padding: 1% 2% 0% 2%;
  border-radius: 10px; }

.div-container-signup-form label {
  color: white !important; }

.log-in-title {
  text-align: center; }

.error-block {
  color: red; }

.container-book-categories {
  width: 25%;
  float: left; }

.books-compartment {
  margin-top: 90px;
  width: 70%;
  float: right;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }

.book-categories {
  float: left;
  margin: 100px 0  0 10px;
  font-size: 30px;
  width: 25%; }

.link-color {
  color: white; }

.admin-books {
  width: 70%;
  float: right;
  margin-top: 100px; }

.btn-edit-add {
  float: right;
  margin-top: 40px; }

.book-size {
  width: 20%;
  display: inline-block;
  margin-right: 20px; }

.text-size {
  font-size: 100% !important; }

.custom-card-content {
  padding: 0 !important; }

.description {
  color: red; }

.admin-books {
  width: 75%;
  float: right; }

.image {
  background: url("http://cdn.wallpapersafari.com/99/90/zj8TKM.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh !important; }

.dashboard-head-color {
  background: #372118 !important;
  margin-top: auto; }

.return-book-button {
  background-color: #555555; }

.users-profile {
  background: gray;
  color: black;
  width: 50%; }

.users-profile thead {
  background: black; }

.button-color {
  background: blue; }

.add-book-modal,
.edit-book-modal {
  color: black; }

/* Body Styling old styles*/
#body-content {
  width: 100%;
  box-sizing: border-box;
  overflow: hidden; }

#left-content {
  float: left;
  width: 45%;
  margin-top: 11%;
  padding-left: 17%;
  box-sizing: border-box;
  color: white; }

#right-content {
  width: 50%;
  float: left;
  margin-top: 6%;
  overflow: hidden; }

/* Login Form Styling*/
.div-log-in form input {
  margin-bottom: 20px;
  margin-top: 6px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 10px;
  width: 84%; }

.log-in-button {
  width: 40%;
  font-size: 25px;
  margin: 0 auto;
  border-radius: 2px;
  color: white;
  background: #FF9800;
  border: 1px solid #FF9800;
  padding: 5px;
  padding-top: 3px;
  font-weight: bold; }

.div-log-in {
  float: right;
  padding: 15px;
  width: 65%;
  margin-right: 5%;
  color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-sizing: border-box; }

.div-log-in p {
  font-size: 30px;
  background-color: #FF9800;
  width: 90%;
  text-align: left;
  border-radius: 2px;
  color: white;
  padding-bottom: 5px;
  padding-left: 20px;
  box-sizing: border-box; }

.div-log-in form {
  margin-top: 15px; }

.div-log-in form label {
  font-size: 20px; }

/* Mobile Header Styling*/
#mobile-menu-head {
  width: 100%;
  overflow: hidden;
  display: none; }

#mobile-menu-logo {
  float: left;
  margin-left: 4%; }

#mobile-menu-logo a {
  font-family: 'Berkshire Swash', cursive;
  font-size: 40px;
  font-weight: bold; }

#mobile-menu {
  width: 50px;
  position: relative;
  float: right;
  margin-right: 5%;
  font-weight: bold; }

#mobile-nav {
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: none; }

#mobile-nav {
  width: 100%;
  box-sizing: border-box; }

#mobile-nav li {
  list-style: none;
  width: 100%;
  border-bottom: 1px solid white;
  padding-left: 40px;
  box-sizing: border-box; }

#mobile-nav li:last-child {
  border-bottom: none; }

#mobile-nav li:hover {
  background: rgba(0, 0, 0, 0.7);
  cursor: pointer; }

#mobile-nav li a {
  text-decoration: none;
  box-sizing: border-box;
  color: white;
  font-size: 17px;
  display: block;
  width: 100%;
  padding: 20px;
  height: 100%; }

/* Sign Up Styling*/
.div-body-sign-up {
  float: right;
  margin-right: 5%;
  width: 70%;
  border: 1px solid rgba(0, 0, 0, 0.3);
  padding-top: 5px; }

.div-body-sign-up form input {
  margin-bottom: 20px;
  margin-top: 2px;
  padding: 10px;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  outline: 1px solid rgba(0, 0, 0, 0.1);
  width: 90%; }

.div-body-sign-up form input:focus {
  border: 1px solid #FF9800;
  outline: 1px solid #FF9800; }

.create-button {
  font-size: 18px;
  margin-right: 110px;
  border-radius: 2px;
  color: white;
  background-color: #FF9800;
  border: 1px solid #FF9800;
  padding: 10px;
  font-weight: bold; }

.div-sign-up {
  margin-left: 20px;
  color: white; }

.div-sign-up p {
  font-size: 30px;
  background-color: #FF9800;
  width: 93%;
  text-align: center;
  border-radius: 2px;
  padding: 5px; }

.div-sign-up form {
  margin-top: 20px; }

/* End Sign Up*/
/* Forgot Password Styling */
.reset-password,
.sign-in-forgot-password {
  width: auto;
  font-size: 16px;
  float: right;
  margin-right: 10%;
  font-weight: normal; }

.sign-in-forgot-password {
  float: left;
  margin-right: 0%; }

/*  Responsive Styling */
@media screen and (max-width: 793px) {
  #mobile-menu-head {
    display: block; }
  header {
    display: none; }
  #mobile-menu:hover {
    cursor: pointer; }
  #nav {
    display: none; }
  #logo-wrap {
    margin-left: 4%; }
  #left-content {
    width: 100%;
    margin-top: 8%;
    float: none;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 0px; }
  .welcome-head {
    font-size: 30px;
    color: white; }
  .welcome-head-para {
    margin-top: 20px;
    text-align: center;
    margin-left: 0px;
    font-size: 15px; }
  #right-content {
    float: none;
    width: 100%;
    margin-top: 8%;
    padding-left: 10%;
    overflow: hidden;
    box-sizing: border-box;
    color: white;
    background: rgba(0, 0, 0, 0.1); }
  .div-log-in {
    width: 90%;
    margin-right: -8%;
    float: none; }
  .div-body-sign-up {
    float: none;
    width: 90%; }
  .div-log-in p {
    font-size: 19px;
    padding: 4px;
    text-align: center; }
  .head-forgot-password {
    background: red; } }

@media screen and (min-width: 794px) and (max-width: 842px) {
  .head-forgot-password {
    display: none; }
  #logo-wrap {
    margin-left: 4%; }
  #left-content {
    width: 100%;
    margin-top: 8%;
    float: none;
    box-sizing: border-box;
    color: white;
    text-align: center;
    background: rgba(0, 0, 0, 0.3);
    padding-left: 0px; }
  .welcome-head {
    font-size: 30px;
    color: white; }
  .welcome-head-para {
    margin-top: 20px;
    text-align: center;
    margin-left: 0px;
    font-size: 15px; }
  #right-content {
    float: none;
    width: 100%;
    overflow: hidden;
    margin-top: 8%;
    padding-left: 10%;
    box-sizing: border-box;
    color: white;
    background: rgba(0, 0, 0, 0.1); }
  .div-log-in {
    width: 90%;
    margin-right: -8%;
    float: none;
    overflow: hidden; }
  .div-body-sign-up {
    float: none;
    width: 90%; }
  #nav {
    float: right;
    margin-right: 5%;
    margin-top: 15px; }
  #nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 19px; }
  .div-log-in p {
    font-size: 19px;
    padding: 4px;
    text-align: center; } }

@media screen and (min-width: 843px) and (max-width: 894px) {
  .div-body-sign-up {
    float: right;
    margin-right: 0%;
    width: 80%; }
  .div-body-sign-up form input {
    margin-bottom: 20px;
    margin-top: 2px;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: 1px solid rgba(0, 0, 0, 0.1);
    width: 90%; }
  .create-button {
    font-size: 16px;
    border-radius: 2px;
    color: white;
    background-color: #FF9800;
    border: 1px solid #FF9800;
    padding: 10px;
    font-weight: bold; }
  .div-sign-up {
    margin-left: 20px;
    color: white; }
  .div-sign-up p {
    font-size: 25px;
    background-color: #FF9800;
    width: 93%;
    text-align: center;
    border-radius: 2px;
    padding: 5px; }
  .div-sign-up form {
    margin-top: 20px; }
  #logo-wrap {
    margin-left: 4%; }
  #left-content {
    float: left;
    width: 42%;
    margin-top: 18%;
    padding-left: 10%;
    box-sizing: border-box;
    color: white; }
  #right-content {
    margin-top: 10%;
    overflow: hidden; }
  .div-log-in {
    width: 90%;
    margin-right: -8%; }
  #nav {
    float: right;
    margin-right: 5%;
    margin-top: 15px; }
  .welcome-head-para {
    font-size: 15px; }
  #nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 19px; } }

@media screen and (min-width: 895px) and (max-width: 1040px) {
  .div-sign-up p {
    font-size: 25px;
    background-color: #FF9800;
    width: 93%;
    text-align: center;
    border-radius: 2px;
    padding: 5px; }
  #logo-wrap {
    margin-left: 7%; }
  #left-content {
    float: left;
    width: 45%;
    margin-top: 15%;
    padding-left: 14%;
    box-sizing: border-box;
    color: white; }
  .div-log-in {
    width: 80%; }
  #nav {
    float: right;
    margin-right: 9%;
    margin-top: 15px; }
  #nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 19px; } }

@media screen and (min-width: 1041px) and (max-width: 1175px) {
  #left-content {
    float: left;
    width: 45%;
    margin-top: 9%;
    padding-left: 15%;
    box-sizing: border-box;
    color: white; }
  #right-content {
    width: 50%;
    float: left;
    overflow: hidden;
    margin-top: 5%; }
  .div-log-in {
    width: 67%; }
  #nav {
    float: right;
    margin-right: 9%;
    margin-top: 15px; }
  #nav ul li {
    display: inline-block;
    margin-left: 20px;
    font-size: 19px; } }
.toast-title {
  font-weight: bold; }

.toast-message {
  -ms-word-wrap: break-word;
  word-wrap: break-word; }

.toast-message a,
.toast-message label {
  color: #ffffff; }

.toast-message a:hover {
  color: #cccccc;
  text-decoration: none; }

.toast-close-button {
  position: relative;
  right: -0.3em;
  top: -0.3em;
  float: right;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  -webkit-text-shadow: 0 1px 0 #ffffff;
  text-shadow: 0 1px 0 #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

.toast-close-button:hover,
.toast-close-button:focus {
  color: #000000;
  text-decoration: none;
  cursor: pointer;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Additional properties for button version
 iOS requires the button element instead of an anchor tag.
 If you want the anchor version, it requires `href="#"`.*/
button.toast-close-button {
  padding: 0;
  cursor: pointer;
  background: transparent;
  border: 0;
  -webkit-appearance: none; }

.toast-top-center {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-center {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-full-width {
  top: 0;
  right: 0;
  width: 100%; }

.toast-bottom-full-width {
  bottom: 0;
  right: 0;
  width: 100%; }

.toast-top-left {
  top: 12px;
  left: 12px; }

.toast-top-right {
  top: 12px;
  right: 12px; }

.toast-bottom-right {
  right: 12px;
  bottom: 12px; }

.toast-bottom-left {
  bottom: 12px;
  left: 12px; }

#toast-container {
  position: fixed;
  z-index: 999999;
  /*overrides*/ }

#toast-container * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

#toast-container > div {
  position: relative;
  overflow: hidden;
  margin: 0 0 6px;
  padding: 15px 15px 15px 50px;
  width: 300px;
  -moz-border-radius: 3px 3px 3px 3px;
  -webkit-border-radius: 3px 3px 3px 3px;
  border-radius: 3px 3px 3px 3px;
  background-position: 15px center;
  background-repeat: no-repeat;
  -moz-box-shadow: 0 0 12px #999999;
  -webkit-box-shadow: 0 0 12px #999999;
  box-shadow: 0 0 12px #999999;
  color: #ffffff;
  opacity: 0.8;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
  filter: alpha(opacity=80); }

#toast-container > :hover {
  -moz-box-shadow: 0 0 12px #000000;
  -webkit-box-shadow: 0 0 12px #000000;
  box-shadow: 0 0 12px #000000;
  opacity: 1;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100);
  filter: alpha(opacity=100);
  cursor: pointer; }

#toast-container > .toast-info {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGwSURBVEhLtZa9SgNBEMc9sUxxRcoUKSzSWIhXpFMhhYWFhaBg4yPYiWCXZxBLERsLRS3EQkEfwCKdjWJAwSKCgoKCcudv4O5YLrt7EzgXhiU3/4+b2ckmwVjJSpKkQ6wAi4gwhT+z3wRBcEz0yjSseUTrcRyfsHsXmD0AmbHOC9Ii8VImnuXBPglHpQ5wwSVM7sNnTG7Za4JwDdCjxyAiH3nyA2mtaTJufiDZ5dCaqlItILh1NHatfN5skvjx9Z38m69CgzuXmZgVrPIGE763Jx9qKsRozWYw6xOHdER+nn2KkO+Bb+UV5CBN6WC6QtBgbRVozrahAbmm6HtUsgtPC19tFdxXZYBOfkbmFJ1VaHA1VAHjd0pp70oTZzvR+EVrx2Ygfdsq6eu55BHYR8hlcki+n+kERUFG8BrA0BwjeAv2M8WLQBtcy+SD6fNsmnB3AlBLrgTtVW1c2QN4bVWLATaIS60J2Du5y1TiJgjSBvFVZgTmwCU+dAZFoPxGEEs8nyHC9Bwe2GvEJv2WXZb0vjdyFT4Cxk3e/kIqlOGoVLwwPevpYHT+00T+hWwXDf4AJAOUqWcDhbwAAAAASUVORK5CYII=") !important; }

#toast-container > .toast-error {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAHOSURBVEhLrZa/SgNBEMZzh0WKCClSCKaIYOED+AAKeQQLG8HWztLCImBrYadgIdY+gIKNYkBFSwu7CAoqCgkkoGBI/E28PdbLZmeDLgzZzcx83/zZ2SSXC1j9fr+I1Hq93g2yxH4iwM1vkoBWAdxCmpzTxfkN2RcyZNaHFIkSo10+8kgxkXIURV5HGxTmFuc75B2RfQkpxHG8aAgaAFa0tAHqYFfQ7Iwe2yhODk8+J4C7yAoRTWI3w/4klGRgR4lO7Rpn9+gvMyWp+uxFh8+H+ARlgN1nJuJuQAYvNkEnwGFck18Er4q3egEc/oO+mhLdKgRyhdNFiacC0rlOCbhNVz4H9FnAYgDBvU3QIioZlJFLJtsoHYRDfiZoUyIxqCtRpVlANq0EU4dApjrtgezPFad5S19Wgjkc0hNVnuF4HjVA6C7QrSIbylB+oZe3aHgBsqlNqKYH48jXyJKMuAbiyVJ8KzaB3eRc0pg9VwQ4niFryI68qiOi3AbjwdsfnAtk0bCjTLJKr6mrD9g8iq/S/B81hguOMlQTnVyG40wAcjnmgsCNESDrjme7wfftP4P7SP4N3CJZdvzoNyGq2c/HWOXJGsvVg+RA/k2MC/wN6I2YA2Pt8GkAAAAASUVORK5CYII=") !important; }

#toast-container > .toast-success {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAADsSURBVEhLY2AYBfQMgf///3P8+/evAIgvA/FsIF+BavYDDWMBGroaSMMBiE8VC7AZDrIFaMFnii3AZTjUgsUUWUDA8OdAH6iQbQEhw4HyGsPEcKBXBIC4ARhex4G4BsjmweU1soIFaGg/WtoFZRIZdEvIMhxkCCjXIVsATV6gFGACs4Rsw0EGgIIH3QJYJgHSARQZDrWAB+jawzgs+Q2UO49D7jnRSRGoEFRILcdmEMWGI0cm0JJ2QpYA1RDvcmzJEWhABhD/pqrL0S0CWuABKgnRki9lLseS7g2AlqwHWQSKH4oKLrILpRGhEQCw2LiRUIa4lwAAAABJRU5ErkJggg==") !important; }

#toast-container > .toast-warning {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAGYSURBVEhL5ZSvTsNQFMbXZGICMYGYmJhAQIJAICYQPAACiSDB8AiICQQJT4CqQEwgJvYASAQCiZiYmJhAIBATCARJy+9rTsldd8sKu1M0+dLb057v6/lbq/2rK0mS/TRNj9cWNAKPYIJII7gIxCcQ51cvqID+GIEX8ASG4B1bK5gIZFeQfoJdEXOfgX4QAQg7kH2A65yQ87lyxb27sggkAzAuFhbbg1K2kgCkB1bVwyIR9m2L7PRPIhDUIXgGtyKw575yz3lTNs6X4JXnjV+LKM/m3MydnTbtOKIjtz6VhCBq4vSm3ncdrD2lk0VgUXSVKjVDJXJzijW1RQdsU7F77He8u68koNZTz8Oz5yGa6J3H3lZ0xYgXBK2QymlWWA+RWnYhskLBv2vmE+hBMCtbA7KX5drWyRT/2JsqZ2IvfB9Y4bWDNMFbJRFmC9E74SoS0CqulwjkC0+5bpcV1CZ8NMej4pjy0U+doDQsGyo1hzVJttIjhQ7GnBtRFN1UarUlH8F3xict+HY07rEzoUGPlWcjRFRr4/gChZgc3ZL2d8oAAAAASUVORK5CYII=") !important; }

#toast-container.toast-top-center > div,
#toast-container.toast-bottom-center > div {
  width: 300px;
  margin: auto; }

#toast-container.toast-top-full-width > div,
#toast-container.toast-bottom-full-width > div {
  width: 96%;
  margin: auto; }

.toast {
  background-color: #030303; }

.toast-success {
  background-color: #51a351; }

.toast-error {
  background-color: #bd362f; }

.toast-info {
  background-color: #2f96b4; }

.toast-warning {
  background-color: #f89406; }

.toast-progress {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 4px;
  background-color: #000000;
  opacity: 0.4;
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=40);
  filter: alpha(opacity=40); }

/*Responsive Design*/
@media all and (max-width: 240px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 11em; }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em; } }

@media all and (min-width: 241px) and (max-width: 480px) {
  #toast-container > div {
    padding: 8px 8px 8px 50px;
    width: 18em; }
  #toast-container .toast-close-button {
    right: -0.2em;
    top: -0.2em; } }

@media all and (min-width: 481px) and (max-width: 768px) {
  #toast-container > div {
    padding: 15px 15px 15px 50px;
    width: 25em; } }

/*# sourceMappingURL=style.css.map*/