*{
    margin: 0;
}

header,footer{
    width: 100%;
    overflow: hidden;
    background: rgb(255,152,0);
}

footer{
    color: ghostwhite;
    padding: 10px;
    box-sizing: border-box;
    font-size: 19px;
    text-align: center;
    letter-spacing: 2px;
    margin-top: 3%;

}
/* General Styling*/

.red{
	color: red;
}


.link{
	text-decoration: none;
	color: white;
}

#logo-wrap{
    float: left;
    margin-left: 11%;
}

#logo-wrap a{
    font-family: 'Berkshire Swash', cursive;
	font-size: 40px;
	font-weight: bold;
}

#dash-welcome{
    width:100%;
    padding-left: -200px;
    overflow: hidden;
    padding: 10px;
    padding-bottom: 0px;
}

#dash-welcome div{
    float: right;
    font-size: 22px;
    font-family: avro;
    margin-right: 10%;
    color: white;
}

#all-dash{
    box-sizing: border-box;
    width: 100%;
    padding-bottom: 15px;
    overflow: hidden;
}

#dash-nav{
    float: right;
    margin-right: 5%;
    margin-top: 1.5%;
}

#dash-nav ul li{
    display: inline-block;
    list-style: none;
    margin-right: 14px;
}

#dash-nav ul li a{
    text-decoration:none;
    color: white;
    font-family: cursive;
    padding-bottom: 5px;
}

#dash-nav ul li a:hover{
    border-bottom: 3px solid rgb(40,44,42);
}

#dash-page-heading{
    width:82%;
    font-size: 29px;
    font-family: avro;
    color:white;
    background:rgb(40,44,42);
    padding: 10px;
    border-left: 14px solid rgb(0,120,215);
    margin: 2% auto;
}

#dash-book-action{
    float: right;
    margin-right: 8%;
}

#dash-book-action button{
    background: rgb(255,152,0);
    outline: none;
    border: 2px solid transparent;
    border-radius: 2px;
    color: ghostwhite;
    padding: 10px;
    font-size: 17px;
    font-family: avro;
}

#dash-book-action button:hover{
    cursor: pointer;
    border-color: rgb(40,44,42)
}

#dash-main-body{
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    margin-top: 4%;
}

#dash-categories{
    float: left;
    margin-left: 7%;
    width: 30%;
    margin-top: 4%;
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 7px;
    box-sizing: border-box;
    padding-top: 10px;
}

#dash-categories p{
    margin-left: 7%;
    font-size: 30px;
}

#dash-book-cover{
    margin-top: 9%;
    float: right;
    width: 60%;
}


#admin-dash-table{
    margin-top: 4%;
    float: right;
    width: 60%;
}

.categories{
    width: 80%;
    margin: 10% auto;
    overflow: hidden;
}


.cat-logo{
    float: left;
}

.cat-name{
    float: left;
    font-family: avro;
    font-size: 23px;
    color: rgb(40,44,42);
    margin: 3% 0% 0% 5%;
}

.cat-name a{
    color: rgb(40,44,42);
    text-decoration: none;
}

.book-section{
    width: 20%;
    margin-right: 3%;
    background: #eee;
    border: 1px solid rgba(0,0,0,0.1);
    display: inline-block;
    box-sizing: border-box;
}

.book-image{
    width: 100%;
    height: 170px;
}

.book-image img{
    width: 100%;
    height: 100%;
}

.about-book-snip{
    width: 100%;
    padding: 5px;
    text-align: justify;
    margin-bottom: 3%;
    box-sizing: border-box;
}

.book-title,.book-author{
    font-size: 17px;
    font-family: avro;
    padding: 3px;
    border-bottom: 1px solid rgba(0,0,0,0.1);
    width: 100%;
    min-height: 30px;
}

.book-author{
    padding-top: 5%;
    border-bottom: none;
}

.book-section button{
    padding: 5px;
    color: rgb(40,44,42);
    border: 1px solid rgba(0,0,0,0.1);
    font-family: avro;
    font-size: 16px;
    width: 100%;
    margin: 1% auto;
}

#dash-mobile-menu-head{
    width: 100%;
    overflow: hidden;
    background: rgb(255,152,0);
    padding-bottom: 8px;
    padding-top: 4px;
    display: none;
}

#dash-mobile-menu-logo{
    float: left;
    margin-left: 4%;
}

#dash-mobile-menu-logo a{
    font-family: 'Berkshire Swash', cursive;
	font-size: 40px;
	font-weight: bold;
}

#dash-mobile-menu{
    width: 50px;
    position: relative;
    float: right;
    margin-right: 5%;
    font-weight: bold;
}

#mobile-nav{
    width: 100%;
    background: rgb(40,44,42);
    display: none;
    margin-top: 0.05%;
    border-bottom: 9px solid rgb(0,120,215);
}

#mobile-nav p{
    color: white;
    padding: 10px;
    font-size: 22px;
    font-family: avro;
}

#mobile-nav {
    width: 100%;
    box-sizing: border-box;
}

#mobile-nav li{
    list-style: none;
    width: 100%;
    border-bottom: 1px solid white;
    padding-left: 40px;
    box-sizing: border-box;
}

#mobile-nav li:last-child{
    border-bottom: none;
}

#mobile-nav li:hover{
     background: rgba(0,0,0,0.7);
     cursor: pointer;
}

#mobile-nav li a{
    text-decoration: none; 
    box-sizing: border-box;
    color: white;
    font-size: 17px;
    display: block;
    width: 100%;
    padding: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    height: 100%;
}

/*Admin Dashboard*/
#admin-dash-table-available{
    width: 80%;
}

#admin-dash-table p{
   color: rgb(40,44,42);
   font-size: 30px;     
   font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
   font-weight: bold;
   margin-bottom: 2%;
   margin-left: 0.5%;
}

#admin-dash-table-available tr:nth-child(odd){
    background: rgb(239, 239, 239)
}

#admin-dash-table-available tr:first-child td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: rgb(250,250,250);
}

#admin-dash-table-available tr td{
    font-size: 19px;
    font-family: avro;
    padding: 10px;
}

#admin-dash-table-borrowed{
     width: 80%;
}

#admin-dash-table-borrowed tr:nth-child(odd){
    background: rgb(239, 239, 239)
}

#admin-dash-table-borrowed tr:first-child td{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    background: rgb(250,250,250);
}

#admin-dash-table-borrowed tr td{
    font-size: 19px;
    font-family: avro;
    padding: 10px;
}

@media screen and (max-width:492px){


    #all-dash,#dash-welcome{
        display: none;
    }

    #dash-book-cover{
    float: none;
    width: 100%;
    margin: 10% auto;
}

#admin-dash-table{
    float: none;
    width: 100%;
    margin: 10% auto;
}

    #dash-categories{
        float: none;
        width: 80%;
    }

       .book-section{
        width: 35%;
        margin-bottom: 5%;
        margin-right: 4%;
    }

    #dash-book-cover{
        padding-left: 12%;

    }

    

     #dash-mobile-menu-head{
        display: block;
    }

    #dash-page-heading{
        margin-top: 9%;
        margin-bottom: 5%;
    }

    #dash-book-action{
      margin-bottom: 2%;
    }

    #admin-dash-table-available{
    margin: 2% auto;
}

#admin-dash-table-borrowed{
    margin: 2% auto;
}

}

/*Stylingfor profile*/
#profile-table table{
    width: 50%;
    margin: 5% auto;
    background: rgba(230,230,230,0.4);
    border-left: 9px solid slategrey;
       border-collapse: collapse;
}


#profile-table table tr td{
    text-align: center;
       padding: 18px;
       border: 1px solid rgba(0,0,0,0.2);
       font-family: Cambria, Cochin, Georgia, Times, Times New Roman, serif;
       font-size: 19px;
       color: rgb(40,44,42)
    }

@media screen and (min-width:492px) and (max-width:759px){
      #all-dash,#dash-welcome{
        display: none;
    }

#dash-book-cover{
    float: none;
    width: 100%;
    margin: 10% auto;
}

#admin-dash-table{
    float: none;
    width: 100%;
    margin: 10% auto;
}

 #dash-book-cover{
        padding-left: 5%;

    }

#admin-dash-table-available{
    margin: 2% auto;
}

#admin-dash-table-borrowed{
    margin: 2% auto;
}
    
#admin-dash-table p{
    padding-left: 10%;
}
    #dash-categories{
        float: none;
        width: 80%;
    }

    #dash-mobile-menu-head{
        display: block;
    }

    #dash-page-heading{
        margin-top: 4%;
        margin-bottom: 2%;
    }

      #dash-book-action{
      margin-bottom: 2%;
    }
}

@media screen and (min-width:760px) and (max-width:795px){
    #all-dash,#dash-welcome{
        display: none;
    }

      .book-section{
        width: 35%;
        margin-bottom: 5%;
        margin-right: 4;
    }

    #dash-book-cover{
        padding-left: 2%;

    }


.cat-name{
    font-size: 18px;
}

 #dash-mobile-menu-head{
        display: block;
    }

}


@media screen and (min-width:795px) and (max-width:870px){
    .book-section{
        width: 35%;
        margin-bottom: 5%;
        margin-right: 4;
    }

    #dash-book-cover{
        padding-left: 2%;

    }

    #dash-nav{
        margin-top: 2.5%;
    }
}
