@media screen and (max-width:590px){
        #profile-table table{
        width: 80%;
        margin-top: 23%;
    }

        #dash-page-heading{
            margin-top: 8%;
        }
}

@media screen and (min-width:591px) and (max-width:790px){
      #profile-table table{
        width: 75%;
        margin-top: 16%;
    }

     #dash-page-heading{
            margin-top: 6%;
        }
}


@media screen and (min-width:790px) and (max-width:924px){
    #profile-table table{
        width: 70%;
        margin-top: 12%;
    }

     #dash-page-heading{
            margin-top: 4%;
        }
}