*{
	margin: 0;
}


nav-wrapper {
    margin: 0 !important;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.welcome-message {
  margin-top: 20px;
  margin-left: 20px;
}

.welcome-message-container {
  position: relative;
  height: 85vh;
  width: 100%;
}
.welcome-message-text{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 500px;
    height: 200px;
    background-color: rgba(0,0,0,0.4);
    box-shadow: 1px 1px 1px #000;
    color: #fff;
    text-align: center;
    max-width: 100%;
}

.welcome-message-text h1{
    font-size: 2.5rem;
}

.footer {
   position: fixed;
   left:0px;
   bottom:0px;
   height:45px;
   width:100%;
   background: #ff9800;
   color: white;
}

.footer-push-top{
    min-height: 70px;
}

/* General Styling*/
.red{
	color: red;
}
.custom-logo-wrap{
    font-weight: bold;
}

.div-container-form {
    background-color: rgba(0, 0, 0, 0.5) !important;
    margin-top: 10%;
    border-radius: 5px;
    padding: 5px 30px; 
    color: white;
}
.sign-title{
    color: white;
}
.book-form {
    background-color: rgba(0, 0, 0, 0.5) !important;
}
.div-container-form form {
  position: absolute;
  top: 60%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  background: rgba(47, 47, 45, 0.7);
  width: 40% !important;
  padding: 5% 2% 5% 2%;
  border-radius: 10px;
}

.div-container-form label{
  color: white;
  font-size: 120%;
  font-weight: bold;
}

.login-button, .login-button:focus {
  width: 100PX;
  height: 38px;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  overflow: hidden;
  background-color: #FF9800;
  cursor: pointer !important;
  border: 1px solid rgba(255, 152, 0, 0.9);
  border-radius: 4px;
}
.div-container-signup-form {
    background-color: rgba(0, 0, 0, 0.5) !important;
    height: 100vh;
}
.div-container-signup-form form {
  position: absolute;
  margin-top: 10%;
  top: 50%;
  left: 50% !important;
  transform: translate(-50%, -50%);
  background: rgba(47, 47, 45, 0.7);
  width: 40% !important;
  padding: 1% 2% 0% 2%;
  border-radius: 10px;
}
.div-container-signup-form label {
  color: white !important;
}

.error-block {
    color: red;
}

.container-book-categories {
    width: 25%;
    float: left;
}

.books-container {
    margin-top: 90px; 
    width: 70%;
    float: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
.card-color {
    color: black
}

.book-categories {
    font-size: 18px;
}
.book-size {
height: 250px;
}
.text-size {
    font-size: 100% !important;
}

.description {
    color: red;
}

.image {
    background: url("../img/hellobooksimage.jpg") no-repeat center center fixed; 
    position: absolute;
    height: 110vh;
    width: 100%;
    background-size: 100% 100%;
}

.button-color {
    background: blue;
}
.add-book-modal, .edit-book-modal{
    color: black;
}

.isLoading {
    margin-left: 15px;
    font-size: 20px;
}

.custom-nav-wrapper {
    background: #ff9800;
}
.mr-2{
    margin-right: 1.5em;
}
.mr-1{
    margin-right: 0.5em;
}
.mt-2{
    margin-top: 2em;
}
.ml-5{
    margin-left: 5em;
}
.fs-2{
    font-size: 20px;
    font-weight: 1px;
}
.fs-1{
    font-size: 15x !important;
    font-weight: 1px !important;
}
.bc{
    background: rgba(46, 24, 8, 0.85);
    padding: 2px;
}
.bc-2 {
     background: lightgray;
    padding: 2px;
}
.google-button, .google-button:focus { 
  border-radius: 2px;
  background-color: #FF9800;
  font-size: 17px;
  font-weight: normal;
  color: white !important;
  display: inline-block;
  cursor: pointer !important;
  border: none;
}
.google-icon {
    margin-left: 10px;
    
}
.signup-button, .signup-button:focus {
      border-radius: 2px;
  background-color: #FF9800;
  width: 100PX;
  height: 32px;
  font-weight: normal;
  color: white !important;
  display: inline-block;
  cursor: pointer !important;
  border: none;
}

.history-tab li:last-child {
    border-right: 0;
}
.notif-icon{
    position: relative;
    top: -10px;

}
.component-color {
    background:  white;
    min-height: 85vh;
}
.table td {
    word-break: break-word;
    
}

.pagination{
   position: fixed;
   bottom:30px;
   height:45px;
   width:100%;

}
.pagination li.active {
      background-color: #FF9800;

}

.clickable {
    cursor: pointer;
}
@media only screen and (max-width: 480px) {
.sign-title{
    color: white;
    font-size: 20px;
}

.signup-button {
    margin-bottom: 10px;
}
}